body{
    font-family: "Montserrat";
    background-color: #fdeec3;
    color: #477495;
}
img{
    border: 5px solid #63a3b4;
    margin: 10px;
}
nav{
    background-color: #f5c793;
    padding: 20px;
}
footer{
    background-color: #cdb19c;
    padding: 20px;
    text-align: center;
}
a{
    color: #63a3b4;
    margin: 10px;
}